<ion-header>
  <ion-toolbar>
    <ion-title>Último Periodo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form >
    <ion-item>
      <ion-label position="stacked">Fecha último periodo:</ion-label>
      <ion-datetime displayFormat="DD/MMMM/YYYY" placeholder="Selecciona  una fecha"></ion-datetime>
    </ion-item>
    <ion-button expand="block" color="tertiary" type="submit">
      <ion-icon slot="start" name="egg"></ion-icon>
      Calcular fecha
    </ion-button>
  </form>
</ion-content>