<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculadora de Matilda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/toys.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Calculadora de Matilda</ion-card-subtitle>
        <ion-card-title>Las Amo!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Hola Amor :) esta app es para calcular cuántas semanas tiene nuestra Matilda. Te amo!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Dos formas de calcular:</ion-label>
      </ion-list-header>
      <ion-item ui-sref="tabs.tab2">
        <ion-icon slot="start" color="medium" name="egg"></ion-icon>
        <ion-label>Último periodo</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="happy"></ion-icon>
        <ion-label>Concepción</ion-label>
      </ion-item>
    </ion-list>
</ion-content>